<ion-header>
    <ion-toolbar>
        
        <ion-title>
            <ion-label>Itcapp</ion-label>
            <ion-icon name="construct-outline"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col sizeXs="12" sizsSm="11" sizeMd="10" sizeLg="8" sizeXl="6">
                
                <ion-segment (ionChange) = "segmentChanged($event)">
                    <ion-segment-button value = "auto">
                        <ion-label>Automatico</ion-label>
                    </ion-segment-button>
                    <!--<ion-segment-button value = "manual">
                        <ion-label>Manual</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value = "test">
                        <ion-label>Prueba</ion-label>
                    </ion-segment-button>-->
                </ion-segment>
            
                <ion-card *ngIf="seccion == 'auto'">
                    <!-- Temperatura -->
                    <ion-item>
                        <ion-icon slot="start" name="thermometer" color="primary"></ion-icon>
                        
                        <ion-item>
                            <ion-label>
                                <strong>Temperatura </strong>{{mediciones}} °C
                            </ion-label>
                        </ion-item>
                    </ion-item>
            
                    <!-- TDS -->
                    <ion-item>
                        <!--<ion-icon name="bar-chart-outline"></ion-icon>-->
                        <ion-icon slot="start" name="eyedrop-outline" color="primary"></ion-icon>
                        <ion-item>
                            <ion-label>
                                <strong>TDS: </strong>{{tds}} PPM
                            </ion-label>
                        </ion-item>
                    </ion-item>
            
            
                    <!-- Lampara boton 1 -->
                    <ion-item>
                        <ion-icon slot="end" name="grid-outline" color="primary"></ion-icon>
                        <ion-label>
                            <strong>Rele 01</strong> 
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="bot1"  slot="start" (ionChange)="botlamp1($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{lamp1}}
                            </ion-label>
                        </ion-item>    
                    </ion-item>  
            
                    <!-- Lampara boton 2 -->
                    <ion-item>
                        <ion-icon slot="end" name="grid-outline" color="primary"></ion-icon>
                        <ion-label>
                            <strong>Rele 02</strong> 
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="bot2"  slot="start" (ionChange)="botlamp2($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{lamp2}}
                            </ion-label>
                        </ion-item>    
                    </ion-item> 
            
                    <!-- Filtro -->
                    <ion-item>
                        <ion-icon slot="end" name="grid-outline" color="primary"></ion-icon>
                        <ion-label>
                            <strong>Rele 03</strong>  
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="flt"  slot="start" (ionChange)="fltint($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{ind}}
                            </ion-label>
                        </ion-item>    
                    </ion-item>
            
                    <!-- Servo -->
                    <ion-item>
                        <ion-icon slot="end" name="grid-outline" color="primary"></ion-icon>
                        <ion-label>
                            <strong>Rele 04</strong>  
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="rgl"  slot="start" (ionChange)="servo($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{rgb}}
                            </ion-label>
                        </ion-item>    
                    </ion-item> 
                </ion-card>
            
                <!--<ion-card *ngIf="seccion == 'manual'">
                    <!-- Lampara boton 1 -->
                    <!-- <ion-item>
                        <ion-label>
                            Luminaria 1
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="bot1"  slot="start" (ionChange)="botlamp1($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{lamp1}}
                            </ion-label>
                        </ion-item>    
                    </ion-item>  
            
                    <!-- Lampara boton 2 -->
                    <<!-- ion-item>
                        <ion-label>
                            Luminaria 2
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="bot2"  slot="start" (ionChange)="botlamp2($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{lamp2}}
                            </ion-label>
                        </ion-item>    
                    </ion-item> 
            
                    <!-- Filtro -->
                    <!-- <ion-item>
                        <ion-label>
                            Filtro 
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="flt"  slot="start" (ionChange)="fltint($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{ind}}
                            </ion-label>
                        </ion-item>    
                    </ion-item>
            
                    <!-- Servo -->
                    <!-- <ion-item>
                        <ion-label>
                            Regulador 
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-toggle name="rgl"  slot="start" (ionChange)="servo($event)"></ion-toggle>
                        <ion-item>
                            <ion-label>
                                {{rgb}}
                            </ion-label>
                        </ion-item>    
                    </ion-item> 
            
                    <!-- Temperatura -->
                    <!-- <ion-item>
                        <ion-label>
                            Temperatura {{umbral}} °C
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-range min="15" max="35" step="1" pin="true" [value]="umbral" 
                        (ionChange)="rangeChange1($event)" debounce="300">
                            <ion-icon size="small" slot="start" name="snow-outline"></ion-icon>
                            <ion-icon slot="end" name="sunny-outline"></ion-icon>
                        </ion-range>
                    </ion-item>
                    <!-- TDS -->
                    <!-- <ion-item>
                        <ion-label>
                            TDS {{umbral2}} PPM
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-range min="0" max="2000" step="10" pin="true" [value]="umbral2" 
                        (ionChange)="rangeChange2($event)" debounce="300">
                            <ion-icon size="small" slot="start" name="snow-outline"></ion-icon>
                            <ion-icon slot="end" name="sunny-outline"></ion-icon>
                        </ion-range>
                    </ion-item>
                    <!-- pH -->
                   <!--  <ion-item>
                        <ion-label>
                            PH {{umbral3}} 
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-range min="0" max="14" step="1" pin="true" [value]="umbral3" 
                        (ionChange)="rangeChange3($event)" debounce="300">
                            <ion-icon size="small" slot="start" name="snow-outline"></ion-icon>
                            <ion-icon slot="end" name="sunny-outline"></ion-icon>
                        </ion-range>
                    </ion-item>
               
                </ion-card>
            
                <ion-card *ngIf="seccion == 'test'">
                    <ion-list>
                        <ion-list-header>
                            Prueba
                        </ion-list-header>
                        <ion-item *ngFor="let medicion of mediciones">
                            <ion-label>
                                
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-card>-->
            

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>